:root {
    --primary-dark: #03695E;
    --primary-light: #6DAF5F;
    --accent-blue: #239DCA;
    --soft-blue: #a5c6db;
    --bg-light: #e7e9d8;
    --white: #ffffff;
    --black: #1a1a1a;
    --danger-red: #d9534f;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.kontak-container {
    margin-top: 5%;
    padding: 3rem 7% 2rem;
    background-color: var(--primary-dark);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    color: var(--white);
}

.footer-left {
    flex: 1;
    min-width: 270px;
}

.footer-left p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-logo h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-logo span {
    font-size: 20px;
    color: var(--bg-light);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-col {
    min-width: 110px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 8px;
}

.footer-col li a {
    color: var(--white);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
}

.footer-col li a:hover {
    opacity: 0.7;
}

.footer-caption {
    text-align: center;
    background-color:  var(--accent-blue);
    color: black;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .footer-links {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
    }

    .footer-col {
        min-width: 100%;
    }
}