:root {
    --primary-dark: #03695E;
    --primary-light: #6DAF5F;
    --accent-blue: #239DCA;
    --soft-blue: #a5c6db;
    --bg-light: #e7e9d8;
    --white: #ffffff;
    --black: #1a1a1a;
    --danger-red: #d9534f;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
    position: relative;
    z-index: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7%;
  background: #03695e;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

/* LOGO */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo a {
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar-logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* MENU */
.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-nav a {
    color: var(--white);
    display: inline-block;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar-nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background-color: #239dca;
    transition: 0.3s;
    transform: translateX(-50%);
}

.navbar-nav a:hover::after {
    width: 100%;
}

.navbar-nav a:hover {
    color: #a5c6db;
}

/* RIGHT SIDE */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* PROFILE */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.user-info a {
    color: var(--white);
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Meratakan teks ke kiri */
    line-height: 1.2; /* Mengatur kerapatan antar baris */
}

.user-info i{
    font-size: 1.2rem;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.profile-img:hover {
    border: 1px solid var(--accent-blue);
}

/* MOBILE PROFILE (hidden default) */
.mobile-profile {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.logout-icon { 
    font-size: 1rem; /* Ukuran teks logout lebih kecil dari username */
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 4px;
}

.logout-icon:hover {
    color: #ff0000;
    text-decoration: underline;
}

/* HAMBURGER */
#hamburger-menu {
    display: none;
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

#hamburger-menu:hover {
    color: #a5c6db;
}

/* HERO SECTION*/
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url('../picture/hhhh.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;    
}

.content {
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    margin-bottom: 200px;
    width: 60%;
    margin-right: 130px;
}

.content h1 {
    font-size: 3.7rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.content h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.content span {
    color: #f5ea85;
}

.content p {
    font-size: 18px;
    color: var(--white);
}

/* ================== RESPONSIVE ================== */

/* TABLET & HP */
@media (max-width: 768px) {
  #hamburger-menu {
    display: block;
  }

  .navbar-nav {
    position: absolute;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: #03695e;
    width: 70%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s;
  }

  .navbar-nav.active {
    right: 0;
  }

  /* SEMBUNYIKAN PROFILE DESKTOP */
  .user-profile {
    display: none;
  }

  /* TAMPILKAN PROFILE DI MENU */
  .mobile-profile {
    display: flex;
    color: white;
  }
}
